<div class="input-group mb-3">
  <div class="">Action Attributes :</div>
  <span class="input-group mb-3 mt-2">
    <input type="text" class="form-control" (keyup)="search($event)" (click)="showDropdown = true;"
      placeholder="{{placeholderText}}">
    <div class="input-group-prepend">
      <span class="input-group-text	fa fa-sort-desc"></span>
      <button class="input-group-text btn btn-primary fa fa-plus" (click)="addActions()"></button>
    </div>
  </span>
</div>
<ul class="list-group" *ngIf="showDropdown">
  <li class="list-group-item" (click)="selectAllToggle()">
    <input type="checkbox" [checked]="allSelected"> Select all
  </li>
  <li *ngFor=" let option of dropDownData" class="list-group-item" (click)="selectOption(option.index)">
    <input type="checkbox" [checked]=isChecked(option.index) id="option.index"> {{option.value}}
  </li>
</ul>